
{{ define "main" }}

  <div class="main">
    <h1>Halo !</h1>
    <h2> Salam kenal, nama saya Ikhsan.
         Di sini kamu bisa baca <a href="/post"> tulisan. </a>  
        <br>
         Saat ini sedang membiasakan berpikir dan saya luapkan di <a href="https://keen-wescoff-d4fdb1.netlify.app/"> portofolio.</a> 
    </h2>
  <hr>
    <h3>
      <a href="https://github.com/nashki" target="_blank">Github</a>  |
      <a href="https://www.linkedin.com/in/ikhsannhuda/" target="_blank">Linkedin</a> |
      <a href="https://twitter.com/ikhsannhuda" target="_blank"> Twitter</a>
    </h3>
  </div>

  <style>
    
    .main 
      {
        margin: 180px auto;
        width: fit-content;
        font-family: 'Quicksand', sans-serif;
      }
     a {
       color: black;
      } 
  
    h1 
      {
        font-size: 52px;
        margin-bottom: auto;
      }
    h2 
      {
      margin-bottom: auto;
      }    
    h3 
      {
      margin-top: 0;
      }

  </style>

{{ end }}